h1 {
    color: darkslateblue;
    text-align: center;
}

p {
    color: darkred;
    /*text-align: center;*/
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#employees_table{

    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}
